

Select Player
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
        <ng-template [ngIf]="selectedPlayer != null" [ngIfElse]="blankName"> {{selectedPlayer.entityName}} </ng-template>
        <ng-template #blankName>No player selected</ng-template>
    </button>
    <div #player class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button class="dropdown-item" *ngFor="let entity of playerList; trackBy:identify" (click)="changePlayer(entity)">
        {{entity.entityName}}
      </button>
    </div>
  </div>

  <br>

<ng-template [ngIf]="selectedPlayer">
  new Initiative: <input type="number" id="newInitiative" [(ngModel)]="newInitiative">
  <button style="margin:1rem" (click)="updateInitiative()" class="btn btn-primary">
    update
  </button>
</ng-template>