
<h1>
    Create new player: <input type="text" id="newEntityName" [(ngModel)]="newEntityName">
</h1>


<button class="btn btn-primary" (click)="createNewEntity(newEntityName, isPlayer)" >
    <ng-template [ngIf]="isPlayer" [ngIfElse]="notPlayer">create new player??</ng-template>
    <ng-template #notPlayer>create new enemy???</ng-template>
</button>
<button class="btn btn-primary" (click)="resetInitiatives()" style="margin: 1rem;">
    reset initiatives
</button>

<div class="form-check form-switch" style="display:inline-block; vertical-align: middle;">
    <input
      mdbCheckbox
      class="form-check-input"
      type="checkbox"
      id="flexSwitchCheckDefault"
      style="height: 2rem; width: 4rem; margin-right: 1rem;"
      [(ngModel)]="isPlayer"
    />
    <label *ngIf="isPlayer" style="display: inline-block; vertical-align: middle;"
      >Is player</label
    >
    <label *ngIf="!isPlayer" style="display: inline-block; vertical-align: middle;"
      >Is enemy</label
    >
</div>

<h2>Initiative Order</h2>

<ng-container *ngFor="let entity of entities">
    <div *ngIf="entity.initiative > 0">
        <app-initiative-container [entity]="entity" (childEmitter)="updateInitiativeList()"></app-initiative-container>
    </div>
</ng-container>

<br>

<h2>Players yet to act lol</h2>

<ng-container *ngFor="let entity of entities">
    <div *ngIf="entity.initiative <= 0">
        <app-initiative-container [entity]="entity" (childEmitter)="updateInitiativeList()"></app-initiative-container>
    </div>
</ng-container>
