

.init-panel-player{
    border-color: #337ab7
}

.init-panel-enemy{
    border-color: #b73333
}

.header-init{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header-player{
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
}

.header-enemy{
    background-color: #b73333;
    border-color: #b73333;
    color: #fff;
}