
<h1>
    Create new player: <input type="text" id="newEntityName" [(ngModel)]="newEntityName">
</h1>

<button (click)="createNewEntity(newEntityName)">
    create new player??
</button>
<br>
<button (click)="resetInitiatives()">
    reset initiatives
</button>

<ng-container *ngFor="let entity of entities">
    <div *ngIf="entity.initiative > 0">
        <app-initiative-container [entity]="entity" (childEmitter)="getUpdateEvent()"></app-initiative-container>
    </div>
</ng-container>


<br>
Players yet to act lol

<ng-container *ngFor="let entity of entities">
    <div *ngIf="entity.initiative <= 0">
        <app-initiative-container [entity]="entity" (childEmitter)="getUpdateEvent()"></app-initiative-container>
    </div>
</ng-container>
