
<h1>
    Create new player: <input type="text" id="newEntityName" [(ngModel)]="newEntityName">
</h1>

<button class="btn btn-primary" (click)="createNewEntity(newEntityName)" >
    create new player??
</button>
<button class="btn btn-primary" (click)="resetInitiatives()" style="margin: 1rem;">
    reset initiatives
</button>

<h2>Initiative Order</h2>

<ng-container *ngFor="let entity of entities">
    <div *ngIf="entity.initiative > 0">
        <app-initiative-container [entity]="entity" (childEmitter)="getUpdateEvent()"></app-initiative-container>
    </div>
</ng-container>

<br>

<h2>Players yet to act lol</h2>

<ng-container *ngFor="let entity of entities">
    <div *ngIf="entity.initiative <= 0">
        <app-initiative-container [entity]="entity" (childEmitter)="getUpdateEvent()"></app-initiative-container>
    </div>
</ng-container>
